.app-container {
  background-color: #D5CCCD;
  min-height: 100vh;
  position: relative;
  color: #291B48;
}

.app-container ::selection {
  background-color: #5E87B6;
  color: #D5CCCD;
}

.soft-mesh {
  opacity: 0.3;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.25rem;
  background-color: #5E87B6;
  z-index: 100;
  transform-origin: left;
}

.main-content {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}